extends ./index.pug

block content
    .container 
        .row
            .col-lg-12.mx-auto
                h1 Documentation 
                h2 Alarms
                p.lead 
                | New alarm can be created in three simple steps. First register it using REST API,
                | add the alarm generating code to your program, create a cron that executes your program periodically. 
                h3 Registering new alarm 
                p.lead
                | To register adsfadsfadf 
                | adsfasdfasdf 
                h3 Adding alarm generating code
                h3 Cron for periodic alarm generation
                p.lead 
                | Cre
                h2 RestAPI documentation
                p.lead
                | Please overwrite this.
            