doctype html
html
    include ./head.pug
    body
        include ./navigation.pug

        block content
            .container 
                .row
                    .col-lg-6.mx-auto
                        h1 ATLAS Alarm And Alert 
                        p.lead
                        | This platform provides a simple way to store generated alarms, handles users subscriptions and
                        | generates alerts. 
                        h2 Components  
                        dl 
                            dt Database
                            dd Elasticsearch
                            dt REST API and Web frontend
                            dd Node.js + express + pug
                            dt Deployment 
                            dd Docker, K8s, Helm (soon)
                            dt Authentication 
                            dd Globus InCommon
                            dt Authorization 
                            dd API key
                            dt Mail
                            dd Mailgun
                        iframe(src="https://atlas-kibana.mwt2.org:5601/s/aaas/app/visualize?auth_provider_hint=anonymous1#/edit/2513afb0-28de-11eb-8f92-953711258120?embed=true&_g=(time%3A(from%3Anow-1d%2Cto%3Anow))" height="300" width="400" frameBorder="0")

                    .col-lg-6.mx-auto
                        img.img-fluid(src='images/AlarmAndAlert.png' style='max-width: 80%; height: auto' alt='Alarm and Alert schema')
                       

        block footer
            include ./footer.pug

        block cdn_scripts
            // jquery - .get .ajax etc.
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
            // jquery-ui
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous")
            // data tables
            script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
            // cascading dropdown
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cascading-dropdown/1.2.9/jquery.cascadingdropdown.min.js")
            // jquery tree
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js")

            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous")            
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")

            // poppers management https://popper.js.org/
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI=" crossorigin="anonymous")

        block my_scripts
            script(src='js/main.js')

        block extra_scripts