nav#mainNav.navbar.navbar-dark.bg-dark.sticky-top
  a.navbar-brand(href='https://github.com/ATLAS-Analytics')
    img.d-inline-block.align-top(src='images/a&a.png' width='125' height='65' alt='')
  nav.nav
    a.nav-link(href='./') Home
    a.nav-link(href='/docs') Docs
    if (loggedIn)
      a.nav-link(href='/viewer') Alarms
      a.nav-link(href='/subscriptions') Subscriptions

  nav.nav.navbar-right
    if (!loggedIn)
      a.nav-link(href='/login') 
        span.glyphicon.glyphicon-log-in
        | 
        | Login

    if (loggedIn)
      a.nav-link(href='/profile') Profile
      
p.lead 
