nav#mainNav.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='https://github.com/ATLAS-Analytics')
        img.d-inline-block.align-top(src='images/a&a.png' width='125' height='65' alt='')

    ul.navbar-nav
      li 
        p.navbar-text.nav-item
          a(href='./') Home
      if (loggedIn)
        li
          p.navbar-text.nav-item
            a(href='/all_alarms') All Alarms and Subscriptions

    ul.navbar-nav.navbar-right
      if (!loggedIn)
        li.login_button.active
          p.navbar-text.nav-item
            a(href='/login') 
              span.glyphicon.glyphicon-log-in
              | 
              | Login

      if (loggedIn)
        li.profile_button
          p.navbar-text.nav-item
            a(href='/profile') Profile

      

        //- li.nav-item.dropdown
        //- a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        //-   | All alarms
        //- .dropdown-menu(aria-labelledby='navbarDropdown')
        //-   if (loggedIn)
        //-     a.dropdown-item(href='/networking') Networking
        //-     a.dropdown-item(href='/computing') Computing
        //-     a.dropdown-item(href='/analytics') Analytics

        //- li.nav-item
          a.nav-link(href='/my_subscriptions') <h5>My Subscriptions</h5>
        //- | &nbsp;
