header .container h1 {
  font-family: "HelveticaNeue-CondensedBold",
    "Helvetica Neue CE 600 Condensed",
    "Helvetica Neue LT Condensed",
    "Helvetica Neue 600 Condensed",
    "HelveticaNeue-BoldCondensed",
    "Helvetica Neue BoldCondensed",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 60px;
  font-stretch: condensed;
  font-weight: 700;
  line-height: 0.9;
  margin: 0;
  text-transform: uppercase;
}

/* section {
  padding: 50px 0;
} */

.lead {
  font-size: 1.0rem;
}

hr {
  width: 80%;
  color: white;
  background-color: #f8f9fa !important;
}

/* #gtco-header {
  padding-top: 100px;
} */

.nav-link {
  /* cursor: pointer; */
  font-size: 24px;
  /* border: 2px solid #0b012e; */
  /* outline: none; */
  /* color: #ffffff; */
  /* padding: 14px 16px; */
  /* background-color: #044687; */
  /* font-family: inherit; */
  /* margin: 0; */
}

.nav-item {
  font-size: 24px;
}

.navbar-brand {
  height: 65px;
  padding: 0px;
}

/* .btn {
  float: right;
} */